h1.title-exit{
    font-size: 35px;
    text-align: center;

}

p.parrafo-exit{
    text-align: center;
}

i.icofont-user-alt-2{
    color: #ffffff;
}

.carousel-item {
    opacity: 0;
    transform: rotateZ(180deg);
    transition: opacity 1s ease, transform 1s ease;
}
  
.carousel-item.active {
    opacity: 1;
    transform: rotateZ(0deg);
}